img {
    height: 200px;
    display: block;
}

.Type {
    font-size: 24px;
    font-weight: 600;
    display: block;
    text-align: center;
}

.Price {
    display: block;
    text-align: center;
    font-size: 18px;
}

.Amount {
    display: block;
    text-align: center;
}

.CatalogGoodsisSelected {
    background-color: #FFA07A;
    text-align: center;
}

.CatalogGoods {
    text-align: center;
}

.CatalogBlock_Goods{
    display: flex;
    justify-content: space-around;
}

h2 {
    display: block;
    text-align: center;
    font-size: 40px;
}
